header, main, footer{
    background-color: aqua;
}

header div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    list-style: none;
}

h1 {
    font-size: 5em;
    font-weight: 600;
}
nav ul {
    display: flex;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color:azure;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight:500;
    background-color:darkmagenta;
    padding: 1rem;
}

