header, main, footer{
    background-color: aqua;
}

header div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

